oldflow
[{"id":"7818a547.4231bc","type":"tab","label":"Waterflow & Garage","disabled":false,"info":""},{"id":"9a921ce3.8db04","type":"mqtt in","z":"7818a547.4231bc","name":"Info fra vandmåler","topic":"tele/waterflow-tasmota/SENSOR/#","qos":"1","datatype":"auto","broker":"faf1c85c.48c0d8","x":130,"y":260,"wires":[["c6c25b91.4fa0c8"]]},{"id":"c6c25b91.4fa0c8","type":"json","z":"7818a547.4231bc","name":"","property":"payload","action":"","pretty":false,"x":290,"y":260,"wires":[["54266115.45dbe"]]},{"id":"18a95496.48065b","type":"function","z":"7818a547.4231bc","name":"Beregn-flow","func":"msg.payload = (msg.payload/404);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["a4d27dd1.16098"]]},{"id":"54266115.45dbe","type":"change","z":"7818a547.4231bc","name":"Flyt til payload","rules":[{"t":"move","p":"payload.COUNTER.C1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["18a95496.48065b"]]},{"id":"a4d27dd1.16098","type":"ui_text","z":"7818a547.4231bc","group":"682f4e87.6c9a3","order":10,"width":0,"height":0,"name":"","label":"Liter igennem","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":260,"wires":[]},{"id":"137ca0ca.535aef","type":"mqtt out","z":"7818a547.4231bc","name":"","topic":"cmnd/waterflow-tasmota/COUNTER1","qos":"0","retain":"false","broker":"faf1c85c.48c0d8","x":710,"y":320,"wires":[]},{"id":"f7c55719.4338b8","type":"ui_button","z":"7818a547.4231bc","name":"","group":"682f4e87.6c9a3","order":9,"width":0,"height":0,"passthru":false,"label":"Nulstil tæller","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":110,"y":320,"wires":[["137ca0ca.535aef"]]},{"id":"41c48388.33224c","type":"mqtt out","z":"7818a547.4231bc","name":"","topic":"cmnd/relay-tasmota/POWER","qos":"0","retain":"false","broker":"faf1c85c.48c0d8","x":740,"y":200,"wires":[]},{"id":"f9d02d90.b03d5","type":"delay","z":"7818a547.4231bc","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":180,"wires":[["41c48388.33224c"]]},{"id":"dd114aca.2e6088","type":"ui_button","z":"7818a547.4231bc","name":"","group":"682f4e87.6c9a3","order":11,"width":0,"height":0,"passthru":true,"label":"Garageport","tooltip":"","color":"","bgcolor":"","icon":"","payload":"toggle","payloadType":"str","topic":"","x":110,"y":200,"wires":[["f9d02d90.b03d5","41c48388.33224c"]]},{"id":"faf1c85c.48c0d8","type":"mqtt-broker","z":"","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"682f4e87.6c9a3","type":"ui_group","z":"","name":"Group 1","tab":"c0d645ed.d6de68","order":1,"disp":false,"width":"6","collapse":false},{"id":"c0d645ed.d6de68","type":"ui_tab","z":"","name":"Radio","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
