Nore-Red Nodes/zigbee2mqtt_admin_panel
[{"id":"8794ac70.61d5c","type":"tab","label":"Zigbee2MQTT Admin","disabled":false,"info":""},{"id":"e60e1ea9.ed451","type":"subflow","name":"Network Map (4)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"9d4551fa.22624","type":"subflow","name":"Pairing Notifications (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"74fb561f.eb4e38","type":"subflow","name":"Devices (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"260e7d8.bac8f82","type":"subflow","name":"Status (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"e6638722.09b7b8","type":"subflow","name":"Logging Level (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"912e08ea.c90638","type":"subflow","name":"Remove Device (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"3a3fb09b.a9c9f","type":"subflow","name":"Permit Join (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"fad5f8a3.8d54a8","type":"subflow","name":"Rename Device (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"57fdd9a3.28b5c8","type":"ui_group","z":"","name":"Status","tab":"4fd26061.cb27c","order":2,"disp":true,"width":"6","collapse":false},{"id":"3574fa1b.9ad906","type":"ui_group","z":"","name":"Permit Join","tab":"4fd26061.cb27c","order":3,"disp":true,"width":"6","collapse":false},{"id":"2e73a44b.84a7ac","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"m2mqtt_srv.crt","keyname":"m2mqtt_srv.key","caname":"m2mqtt_ca.crt","servername":"","verifyservercert":false},{"id":"512c8682.b2ccd8","type":"ui_group","z":"","name":"Rename Device","tab":"4fd26061.cb27c","order":6,"disp":true,"width":"6","collapse":false},{"id":"4fd26061.cb27c","type":"ui_tab","z":"","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"e950da53.8c9368","type":"ui_group","z":"74fb561f.eb4e38","name":"Devices","tab":"4fd26061.cb27c","order":1,"disp":true,"width":"12","collapse":false},{"id":"8f58153a.2b2448","type":"ui_group","z":"e6638722.09b7b8","name":"Logging Level","tab":"4fd26061.cb27c","order":4,"disp":true,"width":"6","collapse":false},{"id":"b7c8a1a3.c8f33","type":"ui_group","z":"912e08ea.c90638","name":"Remove Device","tab":"4fd26061.cb27c","order":5,"disp":true,"width":"6","collapse":false},{"id":"414460f4.684bb","type":"mqtt-broker","z":"e60e1ea9.ed451","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf6ba273.fec54","type":"mqtt-broker","z":"9d4551fa.22624","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c830c88c.766988","type":"mqtt-broker","z":"74fb561f.eb4e38","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"986cbd3e.d73bf","type":"mqtt-broker","z":"260e7d8.bac8f82","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a923bdf3.569cd","type":"mqtt-broker","z":"e6638722.09b7b8","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef000bbc.af27e8","type":"mqtt-broker","z":"912e08ea.c90638","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"181dfebd.64b9b1","type":"mqtt-broker","z":"3a3fb09b.a9c9f","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e7ceb73.744f04","type":"mqtt-broker","z":"fad5f8a3.8d54a8","name":"","broker":"hjemmeflow-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3123d6cf.54ac6a","type":"mqtt in","z":"e60e1ea9.ed451","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/bridge/networkmap/graphviz","qos":"2","datatype":"auto","broker":"414460f4.684bb","x":120,"y":140,"wires":[["308ba359.8654bc"]]},{"id":"141f2fd.3c9fcd","type":"http in","z":"e60e1ea9.ed451","name":"","url":"/adminpanelapi/networkmap/graphviz","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["ed4c81f.756bc8"]]},{"id":"d71a62.6975a5a","type":"http response","z":"e60e1ea9.ed451","name":"","x":610,"y":200,"wires":[]},{"id":"ed4c81f.756bc8","type":"function","z":"e60e1ea9.ed451","name":"get from flow","func":"var networkmap = flow.get('networkmap');\n\nmsg.payload = networkmap;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["d71a62.6975a5a"]]},{"id":"92045538.7cfc28","type":"inject","z":"e60e1ea9.ed451","name":"","topic":"","payload":"graphviz","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"300","x":120,"y":80,"wires":[["579c0bde.3e12f4"]]},{"id":"308ba359.8654bc","type":"function","z":"e60e1ea9.ed451","name":"store in flow","func":"flow.set('networkmap',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"579c0bde.3e12f4","type":"mqtt out","z":"e60e1ea9.ed451","name":"zigbee2mqtt/in","topic":"zigbee2mqtt/bridge/networkmap","qos":"","retain":"","broker":"414460f4.684bb","x":280,"y":80,"wires":[]},{"id":"f8f73330.b19ba","type":"http in","z":"e60e1ea9.ed451","name":"","url":"/adminpanelapi/networkmap/viz/:engine","method":"get","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["9d2d1a0c.47b4a8"]]},{"id":"8f6f0e40.79533","type":"http response","z":"e60e1ea9.ed451","name":"","statusCode":"","headers":{},"x":810,"y":260,"wires":[]},{"id":"17b028c1.38ac87","type":"function","z":"e60e1ea9.ed451","name":"generate viz html","func":"var html = `<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>NetworkMap</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js\"></script>\n    <script src='https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js'></script>\n    <style>\n    svg {\n      width: 100% !important;\n      height: 100% !important;\n      min-width: 100% !important;\n      min-height: 80% !important;\n    }\n    </style>\n  </head>\n  <body>\n    <div id=\"output\"></div>\n    \n    <script>\n        var graphData = '${(flow.get('networkmap')).replace(/(\\r\\n|\\n|\\r)/gm,\"\")}';\n        var vizOptions = { format: 'svg', engine: '${msg.engine}'}\n        var graph = document.querySelector(\"#output\");\n        var svg = graph.querySelector(\"svg\");\n        if (svg) {\n          graph.removeChild(svg);\n        }        \n\n        var viz = new Viz();\n\n        viz.renderSVGElement(graphData, vizOptions)\n          .then(function(svg) {\n            svg.id = \"svg_output\";\n            graph.appendChild(svg);              \n            \n            panZoom = svgPanZoom(svg, {\n              zoomEnabled: true,\n              controlIconsEnabled: true,\n              contain: true,\n              center: true,\n              minZoom: 0.1\n            });\n\n            svg.addEventListener('paneresize', function(e) {\n              panZoom.resize();\n            }, false);\n            window.addEventListener('resize', function(e) {\n              panZoom.resize();\n            });\n          })\n          .catch(error => {\n            // Create a new Viz instance (@see Caveats page for more info)\n            viz = new Viz();\n  \n            // Possibly display the error\n            console.error(error);\n          });\n    </script>\n  </body>\n</html>\n`\n\nmsg.payload = html;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["8f6f0e40.79533"]]},{"id":"9d2d1a0c.47b4a8","type":"function","z":"e60e1ea9.ed451","name":"set engine","func":"var availableEngines = ['circo', 'dot', 'fdp', 'neato', 'osage', 'twopi']\nif(availableEngines.includes(msg.req.params.engine)) { msg.engine = msg.req.params.engine }\nelse { msg.engine = 'dot' }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["17b028c1.38ac87"]]},{"id":"ece3a2cd.10c73","type":"mqtt in","z":"9d4551fa.22624","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"cf6ba273.fec54","x":290,"y":140,"wires":[["fb2a1715.ce03f8"]]},{"id":"fb2a1715.ce03f8","type":"json","z":"9d4551fa.22624","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["4ab46906.1b9438","2dd15320.cd63fc","1d84f1f4.e7c61e"]]},{"id":"332d3e4a.95d352","type":"ui_toast","z":"9d4551fa.22624","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"4ab46906.1b9438","type":"function","z":"9d4551fa.22624","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["332d3e4a.95d352"]]},{"id":"78166603.a604b8","type":"comment","z":"9d4551fa.22624","name":"Notification","info":"","x":110,"y":140,"wires":[]},{"id":"bb246113.51ca5","type":"comment","z":"9d4551fa.22624","name":"Pairing","info":"","x":590,"y":80,"wires":[]},{"id":"1908f9b5.5c3526","type":"ui_toast","z":"9d4551fa.22624","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"2dd15320.cd63fc","type":"function","z":"9d4551fa.22624","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["1908f9b5.5c3526"]]},{"id":"3aecec1d.2fccb4","type":"comment","z":"9d4551fa.22624","name":"Paired","info":"","x":590,"y":200,"wires":[]},{"id":"dd6acb94.d19338","type":"ui_toast","z":"9d4551fa.22624","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1030,"y":140,"wires":[]},{"id":"1d84f1f4.e7c61e","type":"function","z":"9d4551fa.22624","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["dd6acb94.d19338"]]},{"id":"8cda1a98.dba6f8","type":"comment","z":"9d4551fa.22624","name":"Incoming or Repairing","info":"","x":640,"y":140,"wires":[]},{"id":"4995bdb2.4ca6e4","type":"mqtt in","z":"74fb561f.eb4e38","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"c830c88c.766988","x":350,"y":140,"wires":[["9a72e7b.c35ce18"]]},{"id":"33c04bed.eb5c94","type":"ui_template","z":"74fb561f.eb4e38","group":"e950da53.8c9368","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"3a26cc81.abe924","type":"mqtt out","z":"74fb561f.eb4e38","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","broker":"c830c88c.766988","x":580,"y":60,"wires":[]},{"id":"ca533787.a114e8","type":"inject","z":"74fb561f.eb4e38","name":"Request Device List","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":60,"wires":[["3a26cc81.abe924"]]},{"id":"27ad5e5.1c32fa2","type":"comment","z":"74fb561f.eb4e38","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"36bb63fd.ef0fac","type":"comment","z":"74fb561f.eb4e38","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"9a72e7b.c35ce18","type":"json","z":"74fb561f.eb4e38","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["33c04bed.eb5c94","fd1faf3d.3e24b","f8a695f.e37a768"]]},{"id":"6a2512ab.085c2c","type":"http in","z":"74fb561f.eb4e38","name":"","url":"/adminpanelapi/devicelist","method":"get","upload":false,"swaggerDoc":"","x":530,"y":220,"wires":[["fe18bd30.3701a"]]},{"id":"fd1faf3d.3e24b","type":"function","z":"74fb561f.eb4e38","name":"Store Data","func":"flow.set('devicelist',msg.payload);","outputs":1,"noerr":0,"x":310,"y":220,"wires":[[]]},{"id":"9b1dac18.b396a","type":"http response","z":"74fb561f.eb4e38","name":"","x":870,"y":220,"wires":[]},{"id":"fe18bd30.3701a","type":"function","z":"74fb561f.eb4e38","name":"Get Data","func":"var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["9b1dac18.b396a"]]},{"id":"5eeb0678.7d60b8","type":"comment","z":"74fb561f.eb4e38","name":"HTTP JSON API","info":"","x":120,"y":220,"wires":[]},{"id":"f8a695f.e37a768","type":"function","z":"74fb561f.eb4e38","name":"Store Globally","func":"global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"8e88cbc0.448f78","type":"mqtt in","z":"260e7d8.bac8f82","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","datatype":"auto","broker":"986cbd3e.d73bf","x":270,"y":80,"wires":[["4c13a59a.d67c0c"]]},{"id":"4c13a59a.d67c0c","type":"function","z":"260e7d8.bac8f82","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["9c646067.54dff"]]},{"id":"b6ee6ee9.33d4b","type":"ui_template","z":"260e7d8.bac8f82","group":"57fdd9a3.28b5c8","name":"","order":0,"width":"6","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"149b55dd.b92c9a","type":"function","z":"260e7d8.bac8f82","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nmsg.payload.numberofdevices = devicelist.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["b6ee6ee9.33d4b"]]},{"id":"bb87c034.29ccb","type":"inject","z":"260e7d8.bac8f82","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":140,"wires":[["149b55dd.b92c9a"]]},{"id":"9c646067.54dff","type":"debug","z":"260e7d8.bac8f82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"927b976b.9dce38","type":"comment","z":"260e7d8.bac8f82","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"dfde8da3.a31c7","type":"comment","z":"260e7d8.bac8f82","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"8cf0bf83.1e169","type":"http in","z":"260e7d8.bac8f82","name":"","url":"/adminpanelapi/state","method":"get","upload":false,"swaggerDoc":"","x":270,"y":220,"wires":[["eacead63.53823"]]},{"id":"d7a11709.467818","type":"http response","z":"260e7d8.bac8f82","name":"","x":590,"y":220,"wires":[]},{"id":"eacead63.53823","type":"function","z":"260e7d8.bac8f82","name":"Get Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["d7a11709.467818"]]},{"id":"41d6c73.e173b38","type":"comment","z":"260e7d8.bac8f82","name":"HTTP API","info":"","x":80,"y":220,"wires":[]},{"id":"45882557.719e2c","type":"ui_dropdown","z":"e6638722.09b7b8","name":"","label":"","place":"Select option","group":"8f58153a.2b2448","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["c6be490e.8f8398"]]},{"id":"c6be490e.8f8398","type":"mqtt out","z":"e6638722.09b7b8","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","broker":"a923bdf3.569cd","x":380,"y":60,"wires":[]},{"id":"4ecfab9c.a43d24","type":"ui_text_input","z":"912e08ea.c90638","name":"","label":"Device Name","group":"b7c8a1a3.c8f33","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["ab1043e1.a2957"]]},{"id":"fa2fdae4.c2c8d8","type":"mqtt out","z":"912e08ea.c90638","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"ef000bbc.af27e8","x":1190,"y":60,"wires":[]},{"id":"a199662b.5100c8","type":"function","z":"912e08ea.c90638","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"ab1043e1.a2957","type":"change","z":"912e08ea.c90638","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["a199662b.5100c8"]]},{"id":"3880de64.db7ca2","type":"function","z":"912e08ea.c90638","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["fa2fdae4.c2c8d8"]]},{"id":"3838f358.18152c","type":"ui_button","z":"912e08ea.c90638","name":"","group":"b7c8a1a3.c8f33","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["3880de64.db7ca2","5f2af41f.244d8c"]]},{"id":"44d93289.7d669c","type":"comment","z":"912e08ea.c90638","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"3ed2ce85.278fa2","type":"mqtt in","z":"912e08ea.c90638","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"ef000bbc.af27e8","x":290,"y":120,"wires":[["a6ea77ba.1c82f8"]]},{"id":"a6ea77ba.1c82f8","type":"json","z":"912e08ea.c90638","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["a2a2db5c.540728"]]},{"id":"a9b3fe63.6c62d","type":"ui_toast","z":"912e08ea.c90638","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"a2a2db5c.540728","type":"function","z":"912e08ea.c90638","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["a9b3fe63.6c62d"]]},{"id":"dfb703a9.6c8f6","type":"comment","z":"912e08ea.c90638","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"8fdc63e6.032ef","type":"ui_toast","z":"912e08ea.c90638","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"5f2af41f.244d8c","type":"function","z":"912e08ea.c90638","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["8fdc63e6.032ef"]]},{"id":"5970fd13.b29404","type":"ui_dropdown","z":"3a3fb09b.a9c9f","name":"","label":"","place":"Select option","group":"3574fa1b.9ad906","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["7699e6e2.113fb8","5c0c6e75.14bb7"]]},{"id":"7699e6e2.113fb8","type":"mqtt out","z":"3a3fb09b.a9c9f","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"181dfebd.64b9b1","x":270,"y":40,"wires":[]},{"id":"10add87f.78fae8","type":"ui_toast","z":"3a3fb09b.a9c9f","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"5c0c6e75.14bb7","type":"function","z":"3a3fb09b.a9c9f","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["10add87f.78fae8"]]},{"id":"e30d795f.76c4a8","type":"ui_text_input","z":"fad5f8a3.8d54a8","name":"","label":"Old Name","group":"512c8682.b2ccd8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["c12d86d9.ee8468"]]},{"id":"790fc98c.a3f268","type":"ui_text_input","z":"fad5f8a3.8d54a8","name":"","label":"New Name","group":"512c8682.b2ccd8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["99d53c7f.e6f88"]]},{"id":"cac287be.e01098","type":"mqtt out","z":"fad5f8a3.8d54a8","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"4e7ceb73.744f04","x":1010,"y":140,"wires":[]},{"id":"67388f78.ae179","type":"function","z":"fad5f8a3.8d54a8","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"c12d86d9.ee8468","type":"change","z":"fad5f8a3.8d54a8","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["67388f78.ae179"]]},{"id":"99d53c7f.e6f88","type":"change","z":"fad5f8a3.8d54a8","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["34647f82.d7adf"]]},{"id":"6cb73069.3295f","type":"function","z":"fad5f8a3.8d54a8","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["cac287be.e01098"]]},{"id":"34647f82.d7adf","type":"function","z":"fad5f8a3.8d54a8","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"755b205b.9b2c8","type":"ui_button","z":"fad5f8a3.8d54a8","name":"","group":"512c8682.b2ccd8","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["6cb73069.3295f","96719e04.58742"]]},{"id":"e2dd8747.e312a8","type":"ui_toast","z":"fad5f8a3.8d54a8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"96719e04.58742","type":"function","z":"fad5f8a3.8d54a8","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["e2dd8747.e312a8"]]},{"id":"87f9d7e7.23efc8","type":"subflow:fad5f8a3.8d54a8","z":"8794ac70.61d5c","name":"","x":210,"y":180,"wires":[]},{"id":"e62bfdef.614dd","type":"subflow:3a3fb09b.a9c9f","z":"8794ac70.61d5c","name":"","x":190,"y":140,"wires":[]},{"id":"e19b5b00.b0e858","type":"subflow:912e08ea.c90638","z":"8794ac70.61d5c","name":"","x":210,"y":220,"wires":[]},{"id":"576eb0a2.64bca","type":"comment","z":"8794ac70.61d5c","name":"Function","info":"","x":190,"y":100,"wires":[]},{"id":"25868127.c0dd4e","type":"subflow:e6638722.09b7b8","z":"8794ac70.61d5c","name":"","x":200,"y":260,"wires":[]},{"id":"79204218.17758c","type":"subflow:260e7d8.bac8f82","z":"8794ac70.61d5c","name":"","x":180,"y":300,"wires":[]},{"id":"c842c12a.0015e","type":"subflow:74fb561f.eb4e38","z":"8794ac70.61d5c","name":"","x":180,"y":340,"wires":[]},{"id":"85cf4a69.d55458","type":"comment","z":"8794ac70.61d5c","name":"Other","info":"","x":440,"y":100,"wires":[]},{"id":"1eb310a7.5ec6ef","type":"subflow:9d4551fa.22624","z":"8794ac70.61d5c","name":"","x":480,"y":140,"wires":[]},{"id":"90e54417.a1c178","type":"subflow:e60e1ea9.ed451","z":"8794ac70.61d5c","name":"","x":460,"y":200,"wires":[]}]
